<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user | <%= locals.name%>
    </title>
    <link rel="stylesheet" href="user.css">
</head>

<body>
    <div class="container">
        <div class="profile">
            <form action="/logout" method="get">
                <div class="img">
                    <img src="https://wanderon.in/_next/image?url=https%3A%2F%2Fimages.wanderon.in%2Fthe-logo&w=1920&q=75"
                        alt="wanderon logo">
                </div>

                <h2 class="username">
                    <%= locals.username%>
                </h2>

                <div class="userInfo">
                    <h3>Followers: 1000</h3>
                </div>

                <button class="btn" type="submit">Log Out</button>
            </form>
        </div>
    </div>

</body>

</html>